.nav-tabs .nav-item .nav-link {
    background-color: #0080FF;
    color: #FFF;
  }
  
  .nav-tabs .nav-item .nav-link.active {
    color: #0080FF;
  }
  
  .tab-content {
    border: 1px solid #dee2e6;
    border-top: transparent;
    padding: 15px;
  }
  
  .tab-content .tab-pane {
    background-color: #FFF;
    color: #0080FF;
    min-height: 200px;
    height: auto;
  }