pytest
pytest-cov
bids_validator
sphinx>=4.0.0
insegel
furo
sphinx_gallery
sphinx-copybutton
sphinxcontrib-mermaid
sphinx-autoapi
myst-parser
flask
uvicorn
fastapi-jsonrpc
versioneer
pybv >= 0.7.3
pyyaml
httpx
mne-bids
pydantic<=1.10.7
git+https://github.com/yjmantilla/bidscoin.git@sovabids
-e .
