{% extends "base.html" %}

{% block nav_rules %}active{% endblock %}

{% block content %}
<h1 id="sovabids">ERROR!</h1>

<h2 id="response">The server response was:</h2>

<dl>
    <p style="white-space: pre-line;margin-left:5%;">
        {{ error }}
    </p>
</dl>

<h2 id="traceback">Send the following traceback to the <a href="https://github.com/yjmantilla/sovabids/issues/">github issues</a></h2>

<dl>
    <p style="white-space: pre-line;margin-left:5%;">
        Would be helpful to also include the context where the problem arised. For example the steps you did to arrive to the error, the kind of data you are using, etc.
    </p>
</dl>

<dl>
    <p style="white-space: pre-line;margin-left:5%;">
    {{ details }}
    </p>
</dl>

{% endblock %}