{% extends "base.html" %}
{% set active_page = "index" %}

{% block content %}
<h1 id="sovabids">sovabids</h1>
<p><a href="https://sovabids.readthedocs.io/">Visit the documentation</a></p>
<ul>
<li>sovabids is a python package for automating eeg2bids conversion.</li>
<li><dl>
sovabids can be used through:
<dd><ol style="list-style-type: lower-alpha">
<li>its python API</li>
<li>its CLI entry points.</li>
<li>its JSON-RPC entry points (needs a server running the backend).</li>
</ol>
</dd>
</dl></li>
</ul>
<h2 id="architecture">Architecture</h2>
<dl>
<dt>The main elements of sovabids are:</dt>
<dd><ul>
<li>A source path with the original dataset.</li>
<li>A bids path that will be the output path of the conversion.</li>
<li>A rules file that configures how the conversion is done from the general perspective.</li>
<li>A mapping file that encodes how the conversion is performed to each individual file of the dataset.</li>
</ul>
</dd>
</dl>
<p><img src="https://mermaid.ink/svg/eyJjb2RlIjoiZ3JhcGggTFJcbiAgICBTPlwiU291cmNlIHBhdGhcIl1cbiAgICBCPlwiQmlkcyBwYXRoXCJdXG4gICAgUj5cIlJ1bGVzIGZpbGVcIl1cbiAgICBBUigoXCJBcHBseSBSdWxlc1wiKSlcbiAgICBNPlwiTWFwcGluZ3MgZmlsZVwiXVxuICAgIENUKChcIkNvbnZlcnQgVGhlbVwiKSlcbiAgICBPWyhcIkNvbnZlcnRlZCBkYXRhc2V0XCIpXVxuICAgIFMgLS0-IEFSXG4gICAgQiAtLT4gQVJcbiAgICBSIC0tPiBBUlxuICAgIEFSIC0tPiBNXG4gICAgTSAtLT4gQ1RcbiAgICBDVCAtLT4gT1xuICAiLCJtZXJtYWlkIjp7InRoZW1lIjoiZm9yZXN0In0sInVwZGF0ZUVkaXRvciI6ZmFsc2UsImF1dG9TeW5jIjp0cnVlLCJ1cGRhdGVEaWFncmFtIjpmYWxzZX0" alt="image" /></p>

{% endblock %}