{% extends "base.html" %}

{% block nav_rules %}active{% endblock %}

{% block content %}
    <div class="">
        <form action="" method="POST">
            <ul>
                {% for k, v in files.items() %}
                    <label>
                        <li>
                            <a href="/individual_rules/{{k}}">{{ v }}</a>
                        </li>                    
                    </label><br/>
                    {% endfor %}
            </ul>
            <!-- <input name="form1" type="submit" value="Send"> -->
        </form>
    </div>
    <div class="">
        <div>
            <h2>Modifying rules file: {{ file }}</h2>
        </div>
        <!-- <div> -->
            <!-- <form method="post" action="" enctype="multipart/form-data"> -->
                <!-- <dl>
                    <p>
                        <input type="file" id="file" class= "inputfile" name="file" required>
                        <label  for = "file"> 
                            Modify the following mapping:
                        </label >
                    </p>
                </dl> -->
                <!-- <p>
                    <input name="form2" type="submit" value="Submit">
                </p> -->
            <!-- </form> -->
        <!-- </div> -->
        <div>
            <!-- see https://stackoverflow.com/a/10644186/14068216 , it works for saving the edition-->
            <form method="POST">
                <textarea name="rules" id="" cols="100" rows="30"> {{ rules }} </textarea>
                <input name="form3" type="submit" value="Send">
            </form>
            
        </div>
        <div>
            <div>
                <h2>Ready?</h2>
            </div>
    
            <!-- see https://stackoverflow.com/a/10644186/14068216 , it works for saving the edition-->
            <form  action="/convert" method="GET">
                <input name="next" type="submit" value="Next">
            </form>
            
        </div>
    </div>
{% endblock %}